
  <section style="padding-left: 18px;">
    <h1>Social Media Dashboard</h1>
    <h5 style="margin-top: -15px;">Total Followers: 23,004</h5></section>

<section>
 <div class="row">
  <div class="column">
    <div class="property-card">
      <p class="color2 username-font">@nathanf</p>
      <h1 class="color1">1987</h1>
      <p class="followers color2">FOLLOWERS</p>
      <a href="" class="up-color text-deco"><p>12 Today</p></a>
    </div>
  </div>
  
  <div class="column">
    <div class="property-card">
      <p class="color2 username-font">@nathanf</p>
      <h1 class="color1">1044</h1>
      <p class="followers color2">FOLLOWERS</p>
      <a href="" class="up-color text-deco"><p>99 Today</p></a>
    </div>
  </div>

  <div class="column">
    <div class="property-card">
      <p class="color2 username-font">@realnathanf</p>
      <h1 class="color1">11k</h1>
      <p class="followers color2">FOLLOWERS</p>
      <a href="" class="up-color text-deco"><p>1099 Today</p></a>
    </div>
  </div>

  <div class="column">
    <div class="property-card">
      <p class="color2 username-font">Nathan F</p>
      <h1 class="color1">8239</h1>
      <p class="followers color2">SUBSCRIBERS</p>
      <a href="" class="down-color text-deco"><p>144 Today</p></a>
    </div>
  </div>
 </div>
</section>

<section style="margin-top: 250px; padding-left: 10px;">
  <h1>Overview - Today</h1>
</section>

<section>
<div class="column">
  <div class="overview-card">
    <p class="color2">Page Views</p>
    <h1 class="color1">87</h1>
    <a href="" class="percent-check up-color"><p>3%</p></a>
  </div>
</div>

<div class="column">
  <div class="overview-card">
    <p class="color2">Likes</p>
    <h1 class="color1">52</h1>
    <a href="" class="percent-check down-color"><p>2%</p></a>
  </div>
</div>

<div class="column">
  <div class="overview-card">
    <p class="color2">Likes</p>
    <h1 class="color1">5462</h1>
    <a href="" class="percent-check up-color"><p>2257%</p></a>
  </div>
</div>

<div class="column">
  <div class="overview-card">
    <p class="color2">Profile Views</p>
    <h1 class="color1">52k</h1>
    <a href="" class="percent-check up-color"><p>1357%</p></a>
  </div>
</div>
</section>

<section style="margin-top: 300px;">
  <div class="column">
    <div class="overview-card overview-row2">
      <p class="color2">Retweets</p>
      <h1 class="color1">117</h1>
      <a href="" class="percent-check up-color"><p>303%</p></a>
    </div>
  </div>
  
  <div class="column">
    <div class="overview-card overview-row2">
      <p class="color2">Likes</p>
      <h1 class="color1">507</h1>
      <a href="" class="percent-check up-color"><p>553%</p></a>
    </div>
  </div>
  
  <div class="column">
    <div class="overview-card overview-row2">
      <p class="color2">Likes</p>
      <h1 class="color1">107</h1>
      <a href="" class="percent-check down-color"><p>19%</p></a>
    </div>
  </div>
  
  <div class="column">
    <div class="overview-card overview-row2">
      <p class="color2">Total Views</p>
      <h1 class="color1">1407</h1>
      <a href="" class="percent-check down-color"><p>12%</p></a>
    </div>
  </div>
  </section>
